{% extends "store/base.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'css/collection.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <header>
        <div class="header-text-container">
            <div class="header-title title">{{collection_name}} Collection</div>
            <div class="header-sub-title"><a href="{% url 'index' %}">Home</a> <i class="fal fa-angle-right"></i> <a href="{% url 'collection' 'collection_name' %}">{{collection_name}}</a></div>
        </div>
    </header>
{% endblock %}

{% block content %}
    {% include "store/feature.html" %}
    asdsdadas
{% endblock %}