{% load static %}

<footer id="footer">
    <div class="justify-content-center text-center">
        <img src="{% static 'pics/logo.png' %}">
        <div class="d-flex justify-content-center pp">
            <a href="" style="padding-right: 12px">Terms of use</a>
            <a href="">Privacy policy</a>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center text-center">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
</footer>