{% extends "store/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}" type="text/css">
{% endblock %}

{% block header %}
    <header>
        <div class="header-text-container">
            <div class="header-title title">Register Page</div>
            <div class="header-sub-title"><a href="{% url 'index' %}">Home</a> <i class="fal fa-angle-right"></i> <a href="{% url 'register' %}">Register</a></div>
        </div>
    </header>
{% endblock %}

{% block content %}
    {% for f in form %}
        <div class="input-container">
            {% render_field f class="input" placeholder=f.label %}
        </div>
    {% endfor %}
    
    <div class="bottom-text">Have already an account? <a href="{% url 'login' %}">Login</a></div>

{% endblock %}