/*
 Featured products
*/

#app .row:nth-child(1){
    width: 100%;
    margin: 0 auto;
}
#app .col-8:nth-child(1){
    padding: 0;
}
#app .col-4:nth-child(2){
    padding: 0;
}
.featureds .badge{
    position: absolute;
    left: 40px;
    top: 25px;
}
.featureds .button{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.featureds .title{
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
}
.featureds h2{
    color: white;
    letter-spacing: 0px;
    font-size: 20px;
}
.featureds .info-wrapper{
    position: absolute;
    top: 100px;
    left: 40px;
}
.featured-1{
    background-color: #69bad4;
    background-image: linear-gradient(310deg, #69bad4 40%, rgba(var(--prColor1), 0.9) 85%);
    height: 100%;
    position: relative;
    overflow: hidden;
}
.featured-1 img{
    display: block;
    float: right;
    height: 400px;
    position: absolute;
    right: 10px;
    bottom: -80px;
}
.featured-1 .button{
    z-index: 10;
}
.featured-2{
    background-color: #7f53ac;
    background-image: linear-gradient(310deg, #7f53ac 30%, rgba(var(--prColor1), 0.8) 70%);
    height: 100%;
    position: relative;
}
.featured-2 img{
    display: block;
    float: right;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}